apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: staticroutes.iks.ibm.com
spec:
  group: iks.ibm.com
  names:
    kind: StaticRoute
    listKind: StaticRouteList
    plural: staticroutes
    singular: staticroute
  scope: Cluster
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: StaticRoute is the Schema for the staticroutes API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: StaticRouteSpec defines the desired state of StaticRoute
          properties:
            gateway:
              description: Gateway the gateway the subnet is routed through (optional,
                discovered if not set)
              type: string
            subnet:
              description: 'Subnet defines the required IP subnet in the form of:
                "x.x.x.x/x"'
              type: string
          required:
          - subnet
          type: object
        status:
          description: StaticRouteStatus defines the observed state of StaticRoute
          properties:
            nodeStatus:
              description: 'INSERT ADDITIONAL STATUS FIELD - define observed state
                of cluster Important: Run "operator-sdk generate k8s" to regenerate
                code after modifying this file Add custom validation using kubebuilder
                tags: https://book-v1.book.kubebuilder.io/beyond_basics/generating_crd.html'
              items:
                description: StaticRouteNodeStatus defines the observed state of one
                  IKS node, related to the StaticRoute
                properties:
                  generation:
                    format: int64
                    type: integer
                  hostname:
                    type: string
                required:
                - generation
                - hostname
                type: object
              type: array
          required:
          - nodeStatus
          type: object
      type: object
  version: v1
  versions:
  - name: v1
    served: true
    storage: true
