apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: staticroute-operator
rules:
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - get
  - create
- apiGroups:
  - apps
  resourceNames:
  - staticroute-operator
  resources:
  - deployments/finalizers
  verbs:
  - update
- apiGroups:
  - iks.ibm.com
  resources:
  - '*'
  verbs:
  - '*'
