---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: staticroutes.static-route.ibm.com
spec:
  group: static-route.ibm.com
  names:
    kind: StaticRoute
    listKind: StaticRouteList
    plural: staticroutes
    singular: staticroute
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    - jsonPath: .spec.subnet
      name: Network
      priority: 1
      type: string
    - description: empty field means default gateway
      jsonPath: .spec.gateway
      name: Gateway
      priority: 1
      type: string
    - description: empty field means default table
      jsonPath: .spec.table
      name: Table
      priority: 1
      type: integer
    name: v1
    schema:
      openAPIV3Schema:
        description: StaticRoute is the Schema for the staticroutes API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: StaticRouteSpec defines the desired state of StaticRoute
            properties:
              gateway:
                description: Gateway the gateway the subnet is routed through (optional,
                  discovered if not set)
                pattern: ^([0-9]{1,3}\.){3}[0-9]{1,3}$
                type: string
              selectors:
                description: Selector defines the target nodes by requirement (optional,
                  default is apply to all)
                items:
                  description: |-
                    A label selector requirement is a selector that contains values, a key, and an operator that
                    relates the key and values.
                  properties:
                    key:
                      description: key is the label key that the selector applies
                        to.
                      type: string
                    operator:
                      description: |-
                        operator represents a key's relationship to a set of values.
                        Valid operators are In, NotIn, Exists and DoesNotExist.
                      type: string
                    values:
                      description: |-
                        values is an array of string values. If the operator is In or NotIn,
                        the values array must be non-empty. If the operator is Exists or DoesNotExist,
                        the values array must be empty. This array is replaced during a strategic
                        merge patch.
                      items:
                        type: string
                      type: array
                      x-kubernetes-list-type: atomic
                  required:
                  - key
                  - operator
                  type: object
                type: array
              subnet:
                description: 'Subnet defines the required IP subnet in the form of:
                  "x.x.x.x/x"'
                pattern: ^([0-9]{1,3}\.){3}[0-9]{1,3}(\/([0-9]|[1-2][0-9]|3[0-2]))?$
                type: string
              table:
                description: Table the route will be installed in (optional, uses
                  default table if not set)
                maximum: 254
                minimum: 0
                type: integer
            required:
            - subnet
            type: object
          status:
            description: StaticRouteStatus defines the observed state of StaticRoute
            properties:
              nodeStatus:
                items:
                  description: StaticRouteNodeStatus defines the observed state of
                    one IKS node, related to the StaticRoute
                  properties:
                    error:
                      type: string
                    hostname:
                      type: string
                    state:
                      description: StaticRouteSpec defines the desired state of StaticRoute
                      properties:
                        gateway:
                          description: Gateway the gateway the subnet is routed through
                            (optional, discovered if not set)
                          pattern: ^([0-9]{1,3}\.){3}[0-9]{1,3}$
                          type: string
                        selectors:
                          description: Selector defines the target nodes by requirement
                            (optional, default is apply to all)
                          items:
                            description: |-
                              A label selector requirement is a selector that contains values, a key, and an operator that
                              relates the key and values.
                            properties:
                              key:
                                description: key is the label key that the selector
                                  applies to.
                                type: string
                              operator:
                                description: |-
                                  operator represents a key's relationship to a set of values.
                                  Valid operators are In, NotIn, Exists and DoesNotExist.
                                type: string
                              values:
                                description: |-
                                  values is an array of string values. If the operator is In or NotIn,
                                  the values array must be non-empty. If the operator is Exists or DoesNotExist,
                                  the values array must be empty. This array is replaced during a strategic
                                  merge patch.
                                items:
                                  type: string
                                type: array
                                x-kubernetes-list-type: atomic
                            required:
                            - key
                            - operator
                            type: object
                          type: array
                        subnet:
                          description: 'Subnet defines the required IP subnet in the
                            form of: "x.x.x.x/x"'
                          pattern: ^([0-9]{1,3}\.){3}[0-9]{1,3}(\/([0-9]|[1-2][0-9]|3[0-2]))?$
                          type: string
                        table:
                          description: Table the route will be installed in (optional,
                            uses default table if not set)
                          maximum: 254
                          minimum: 0
                          type: integer
                      required:
                      - subnet
                      type: object
                  required:
                  - error
                  - hostname
                  - state
                  type: object
                type: array
            required:
            - nodeStatus
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
